/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-sidenav {
  width: 280px;
  padding: 15px;
}
.mat-drawer {
  background-color: #023075;
  color: #fff;
}
.main-content {
  padding: 20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.with-icon {
  display: flex;
  align-items: center;
}