﻿<h1>Hi {{ currentUser.firstName }}!</h1>
<p>Welcome to Hunger Savior</p>
<h3>All registered users:</h3>
<a routerLink="/donate" title="Donate">
  <button mat-raised-button color="accent">
    Donate
  </button>
</a>
<a routerLink="/volunteer" title="Volunteer">
  <button mat-raised-button color="accent">
    Volunteer
  </button>
</a>
