<mat-sidenav-container fullscreen *ngIf="currentUser" color="primary">
  <mat-sidenav mode="side" #sidenav closed position="start">
    <a mat-list-item [routerLink]="'/profile'" style="font-size:22px;">
      <div class="with-icon">
        <mat-icon inline="true">account_circle</mat-icon>
        &nbsp;{{currentUser.firstName +" " + currentUser.lastName}}
      </div>
    </a>
    <br />
    <br />
    <br />
    <a mat-list-item [routerLink]="'/donate'">
      <div class="with-icon">
        Donate &nbsp;
        <mat-icon>donut_small</mat-icon>
      </div>
    </a>
    <br />
    <a mat-list-item [routerLink]="'/volunteer'">
      <div class="with-icon">
        Volunteer &nbsp;
        <mat-icon>accessibility</mat-icon>
      </div>
    </a>
    <br />
    <a mat-list-item [routerLink]="'/track_missions'">
      <div class="with-icon">
        Track Missions &nbsp;
        <mat-icon>assignment</mat-icon>
      </div>
    </a>
    <br />
    <a mat-list-item [routerLink]="'/create-contact'">
      <div class="with-icon">
        Completed Missions &nbsp;
        <mat-icon>done_outline</mat-icon>
      </div>
    </a>
    <br />
    <a mat-list-item [routerLink]="'/aboutus'">
      <div class="with-icon">
        About Us &nbsp;
        <mat-icon>contact_support</mat-icon>
      </div>
    </a>
    <br>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" title="Home">
        <button mat-icon-button color="secondary">
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <span class="toolbar-spacer"></span>
      <a routerLink="/admin" *ngIf="isAdmin" title="Admin">
        <button mat-icon-button color="secondary">
          <mat-icon>settings</mat-icon>
        </button>
      </a>
      <a href="#" (click)="logout()" title="Logout">
        <button mat-icon-button color="secondary">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </a>
    </mat-toolbar>
    <div class="jumbotron" style="background-color: white;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <alert></alert>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="jumbotron" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>