<h2>Donate Form</h2>
<form [formGroup]="donateForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
    <mat-error *ngIf="f.name.errors?.required"> Name is <strong>required</strong> </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>Phone Number</mat-label>
    <input
      matInput
      type="number"
      formControlName="phoneNumber"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
    />
    <mat-error *ngIf="f.phoneNumber.errors?.required"> Phone Number is <strong>required</strong> </mat-error>
  </mat-form-field>

  <div class="form-group">
    <mat-label id="rdContainersAvailable">Are Containers Available ?</mat-label>
    <mat-radio-group aria-labelledby="rdContainersAvailable" formControlName="containersAvailable">
      <mat-radio-button class="example-radio-button" [value]="true">
        Yes. I have containers!
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="false">
        No. I don't have containers.
      </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="f.containersAvailable.errors?.required"> This field is <strong>required</strong> </mat-error>
  </div>

  <div class="form-group">
    <mat-label id="rdCutleryAvailable">Are Containers Available ?</mat-label>
    <mat-radio-group aria-labelledby="rdCutleryAvailable" formControlName="cutleryAvailable">
      <mat-radio-button class="example-radio-button" [value]="true">
        Yes. I have cutlery!
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="false">
        No. I don't have cutlery.
      </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="f.cutleryAvailable.errors?.required"> This field is <strong>required</strong> </mat-error>
  </div>

  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>How many people can the food serve ?</mat-label>
    <input
      matInput
      type="number"
      formControlName="foodAvailableCount"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.foodAvailableCount.errors }"
    />
    <mat-error *ngIf="f.foodAvailableCount.errors?.required"> This field is <strong>required</strong> </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="standard">
    <mat-label>Give the description of the Food left</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="foodDescription"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.foodDescription.errors }"
      minRows="3"
    >
    </textarea>
    <mat-error *ngIf="f.foodDescription.errors?.required"> This field is <strong>required</strong> </mat-error>
  </mat-form-field>

  <div class="form-group">
    <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input #imageInput formControlName="image" type="file" accept="image/*" (change)="processFile(imageInput)" />
    </label>

    <div *ngIf="selectedFile" class="img-preview-container">
      <div
        class="img-preview{{ selectedFile.status === 'fail' ? '-error' : '' }}"
        [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"
      ></div>

      <div *ngIf="selectedFile.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
      </div>

      <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success">Image Uploaded Succesfuly!</div>
      <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger">Image Upload Failed!</div>
    </div>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
    <agm-marker
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [label]="marker.label"
      [markerDraggable]="marker.draggable"
      (dragEnd)="markerDragEnd(marker, $event)"
    >
    </agm-marker>
  </agm-map>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Submit
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
